<section class="container contact-section">
    <app-navbar></app-navbar>
    
    <div class="row mt-5">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contact-info text-center">
                    <div class="info-box">
                        <h2>¡Contacta con Nosotros!</h2>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-user"></i> ¡Hola! Soy Yahir Gonzalo Castro Jocoi</li>
                            <li><i class="fas fa-envelope"></i> Facebook: Yahir CJ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
</section>
