
<nav class="navbar navbar-expand-lg d-flex navbar-dark justify-content-between"
style="background-color: #101a335d ! important ;">
"
    <div class="container-fluid">
      <img src="assets/index/Pelota.png" alt="">
      <a class="navbar-brand" href="#">SPORT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center text-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Esto mantendrá los elementos a la izquierda -->
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item ms-5">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link active" aria-current="page" href="/contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  